<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>
        Access token: <%= accessToken %>
    </p>
    <% if(!accessToken) { %>
    <a
        href="<%= authorizeUrl %>">
        Authorize
    </a>
    <% } %>
    <% if (accessToken) { %>
    <form action="/oauth/refresh_token" method="POST">
        <button type="" submit>Refresh token</button>
    </form>
    <form action="/oauth/revoke_token" method="POST">
        <button type="" submit>Revoke token</button>
    </form>
    <% } %>

</body>

</html>